<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Detect</title>

	<link rel="stylesheet" href="demo.css">
	<link rel="stylesheet" href="static/second.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>



    <div class="main-content">
        <div class="overlay">

        <!-- You only need this form and the form-login.css -->

        <form class="form-login" method="post" action="/senddata">

            <div class="form-log-in-with-email">

                <div class="form-white-background">

                    <div class="form-title-row">
                        <h1 style="color: black;">Please Enter the required data</h1>
                    </div>

                    <div class="form-row">
                        <label>
                            <span style="color: black;">Title of Content (Heading)</span>
                            <input type = "text" name="title" placeholder="Heading">
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                            <span style="color: black;">Brief Content</span>
                            <input type="text" name="content" placeholder="Content">
                        </label>
                    </div>

                    <div class="form-row">
                        <button class = "w3-small w3-center" type="submit">Detect</button><br><br>
                        <p style="background-color: yellow; color: green; font-size: 10px;"><b>{{flex_true}}</b></p>
                        <p style="background-color: yellow; color: red; font-size: 10px;"><b>{{flex_false}}</b></p>
                    </div>

                </div>

             

            </div>
                <div class="w3-display-bottomleft w3-padding-small">
                    <p style="margin-top: 60px; color:white; margin-left: -80px;">Designed with &#10084; By <b>G a u r a v </b></p>
                    <p style="color: white;"><span style='font-size:20px;'>&#9786;</span>! Do give star on my github repository <a href = "https://www.github.com/hitechgaurav" target="_blank"> <img src="static/a.png" alt="https://www.github.com/hitechgaurav" height = "25" width = "25">
                    </a>
                    </p>
                    
                </div>
                <br>
                
        </form>

    </div>
</div>

</body>

</html>
